.ghost-wrapper {
  width: 960px;
  margin: 0 auto;
}

.ghost-row {
  width: 102%;
  margin: 0 auto;
  margin-left: -2%;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}

.ghost-row:before,
.ghost-row:after {
  display: table;
  content: " ";
}

.ghost-row:after {
  clear: both;
}

.employee-page {
  width: 960px;
  margin: 0 auto;
}

header,
section,
footer {
  width: 102%;
  margin: 0 auto;
  margin-left: -2%;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}

header:before,
section:before,
footer:before,
header:after,
section:after,
footer:after {
  display: table;
  content: " ";
}

header:after,
section:after,
footer:after {
  clear: both;
}

.welcome,
.copyright {
  float: left;
  width: 81.33333333333334%;
  margin: 0 0 0 2%;
}

.employee-pic {
  float: left;
  width: 14.666666666666664%;
  margin: 0 0 0 2%;
}

.recent-activity {
  float: left;
  width: 64.66666666666666%;
  margin: 0 0 0 2%;
}
