.ghost-wrapper {
  position: relative;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .ghost-wrapper {
    width: 768px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .ghost-wrapper {
    width: 420px;
  }
}

@media only screen and (max-width: 767px) {
  .ghost-wrapper {
    width: 300px;
  }
}

.ghost-row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}

.ghost-row:before,
.ghost-row:after {
  display: table;
  content: " ";
}

.ghost-row:after {
  clear: both;
}

.employee-page {
  position: relative;
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .employee-page {
    width: 768px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .employee-page {
    width: 420px;
  }
}

@media only screen and (max-width: 767px) {
  .employee-page {
    width: 300px;
  }
}

header,
section,
footer {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}

header:before,
section:before,
footer:before,
header:after,
section:after,
footer:after {
  display: table;
  content: " ";
}

header:after,
section:after,
footer:after {
  clear: both;
}

.welcome,
.copyright {
  float: left;
  width: 930px;
  margin: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .welcome,
  .copyright {
    width: 738px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .welcome,
  .copyright {
    width: 390px;
  }
}

@media only screen and (max-width: 767px) {
  .welcome,
  .copyright {
    width: 270px;
  }
}

.employee-pic {
  float: left;
  width: 130px;
  margin: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .employee-pic {
    width: 98px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .employee-pic {
    width: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .employee-pic {
    width: 20px;
  }
}

.recent-activity {
  float: left;
  width: 770px;
  margin: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .recent-activity {
    width: 610px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .recent-activity {
    width: 320px;
  }
}

@media only screen and (max-width: 767px) {
  .recent-activity {
    width: 220px;
  }
}
