.ghost-wrapper {
  width: 960px;
  margin: 0 auto;
}

.ghost-row {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}

.ghost-row:before,
.ghost-row:after {
  display: table;
  content: " ";
}

.ghost-row:after {
  clear: both;
}

.employee-page {
  width: 960px;
  margin: 0 auto;
}

header,
section,
footer {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}

header:before,
section:before,
footer:before,
header:after,
section:after,
footer:after {
  display: table;
  content: " ";
}

header:after,
section:after,
footer:after {
  clear: both;
}

.welcome,
.copyright {
  float: left;
  width: 930px;
  margin: 0 15px;
}

.employee-pic {
  float: left;
  width: 130px;
  margin: 0 15px;
}

.recent-activity {
  float: left;
  width: 770px;
  margin: 0 15px;
}
