@media only screen and (max-width: 767px) {
  
}
.employee-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
header,
section,
footer {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}
header:before,
section:before,
footer:before,
header:after,
section:after,
footer:after {
  content: " ";
  display: table;
}
header:after,
section:after,
footer:after {
  clear: both;
}
.welcome,
.copyright {
  float: left;
  width: 97.5%;
  width: calc(100% - 30px);
  margin: 0 1.25%;
  margin: 0 calc(15px);
  background-color: #ffc;
}
.employee-pic {
  float: left;
  width: 14.166666666666664%;
  width: calc(16.666666666666664% - 30px);
  margin: 0 1.25%;
  margin: 0 calc(15px);
  background-color: #ffc;
}
.recent-activity {
  float: left;
  width: 80.83333333333334%;
  width: calc(83.33333333333334% - 30px);
  margin: 0 1.25%;
  margin: 0 calc(15px);
  background-color: #ffc;
}
