.column {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  margin-right: -0.25em;
}
/**
 *  A CSS version of Ghost
 **/
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  padding: 0 15px;
}
.row {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  clear: both;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-12 {
  width: 100%;
  margin-left: 0;
}
.push-12 {
  position: left;
  left: 100%;
}
.pull-12 {
  position: relative;
  right: 100%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-11.prefix-1 {
  width: 91.66666666666666%;
  width: 99.99999999999999%;
  border-left: 8.333333333333332% solid transparent;
}
.col-11.suffix-1 {
  width: 91.66666666666666%;
  width: 99.99999999999999%;
  border-right: 8.333333333333332% solid transparent;
}
.push-11 {
  position: left;
  left: 91.66666666666666%;
}
.pull-11 {
  position: relative;
  right: 91.66666666666666%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-10.prefix-2 {
  width: 83.33333333333334%;
  width: 100%;
  border-left: 16.666666666666664% solid transparent;
}
.col-10.prefix-1 {
  width: 83.33333333333334%;
  width: 91.66666666666667%;
  border-left: 8.333333333333332% solid transparent;
}
.col-10.suffix-2 {
  width: 83.33333333333334%;
  width: 100%;
  border-right: 16.666666666666664% solid transparent;
}
.col-10.suffix-1 {
  width: 83.33333333333334%;
  width: 91.66666666666667%;
  border-right: 8.333333333333332% solid transparent;
}
.push-10 {
  position: left;
  left: 83.33333333333334%;
}
.pull-10 {
  position: relative;
  right: 83.33333333333334%;
}
.col-9 {
  width: 75%;
}
.col-9.prefix-3 {
  width: 75%;
  width: 100%;
  border-left: 25% solid transparent;
}
.col-9.prefix-2 {
  width: 75%;
  width: 91.66666666666666%;
  border-left: 16.666666666666664% solid transparent;
}
.col-9.prefix-1 {
  width: 75%;
  width: 83.33333333333333%;
  border-left: 8.333333333333332% solid transparent;
}
.col-9.suffix-3 {
  width: 75%;
  width: 100%;
  border-right: 25% solid transparent;
}
.col-9.suffix-2 {
  width: 75%;
  width: 91.66666666666666%;
  border-right: 16.666666666666664% solid transparent;
}
.col-9.suffix-1 {
  width: 75%;
  width: 83.33333333333333%;
  border-right: 8.333333333333332% solid transparent;
}
.push-9 {
  position: left;
  left: 75%;
}
.pull-9 {
  position: relative;
  right: 75%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-8.prefix-4 {
  width: 66.66666666666666%;
  width: 99.99999999999999%;
  border-left: 33.33333333333333% solid transparent;
}
.col-8.prefix-3 {
  width: 66.66666666666666%;
  width: 91.66666666666666%;
  border-left: 25% solid transparent;
}
.col-8.prefix-2 {
  width: 66.66666666666666%;
  width: 83.33333333333331%;
  border-left: 16.666666666666664% solid transparent;
}
.col-8.prefix-1 {
  width: 66.66666666666666%;
  width: 74.99999999999999%;
  border-left: 8.333333333333332% solid transparent;
}
.col-8.suffix-4 {
  width: 66.66666666666666%;
  width: 99.99999999999999%;
  border-right: 33.33333333333333% solid transparent;
}
.col-8.suffix-3 {
  width: 66.66666666666666%;
  width: 91.66666666666666%;
  border-right: 25% solid transparent;
}
.col-8.suffix-2 {
  width: 66.66666666666666%;
  width: 83.33333333333331%;
  border-right: 16.666666666666664% solid transparent;
}
.col-8.suffix-1 {
  width: 66.66666666666666%;
  width: 74.99999999999999%;
  border-right: 8.333333333333332% solid transparent;
}
.push-8 {
  position: left;
  left: 66.66666666666666%;
}
.pull-8 {
  position: relative;
  right: 66.66666666666666%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-7.prefix-5 {
  width: 58.333333333333336%;
  width: 100%;
  border-left: 41.66666666666667% solid transparent;
}
.col-7.prefix-4 {
  width: 58.333333333333336%;
  width: 91.66666666666666%;
  border-left: 33.33333333333333% solid transparent;
}
.col-7.prefix-3 {
  width: 58.333333333333336%;
  width: 83.33333333333334%;
  border-left: 25% solid transparent;
}
.col-7.prefix-2 {
  width: 58.333333333333336%;
  width: 75%;
  border-left: 16.666666666666664% solid transparent;
}
.col-7.prefix-1 {
  width: 58.333333333333336%;
  width: 66.66666666666667%;
  border-left: 8.333333333333332% solid transparent;
}
.col-7.suffix-5 {
  width: 58.333333333333336%;
  width: 100%;
  border-right: 41.66666666666667% solid transparent;
}
.col-7.suffix-4 {
  width: 58.333333333333336%;
  width: 91.66666666666666%;
  border-right: 33.33333333333333% solid transparent;
}
.col-7.suffix-3 {
  width: 58.333333333333336%;
  width: 83.33333333333334%;
  border-right: 25% solid transparent;
}
.col-7.suffix-2 {
  width: 58.333333333333336%;
  width: 75%;
  border-right: 16.666666666666664% solid transparent;
}
.col-7.suffix-1 {
  width: 58.333333333333336%;
  width: 66.66666666666667%;
  border-right: 8.333333333333332% solid transparent;
}
.push-7 {
  position: left;
  left: 58.333333333333336%;
}
.pull-7 {
  position: relative;
  right: 58.333333333333336%;
}
.col-6 {
  width: 50%;
}
.col-6.prefix-6 {
  width: 50%;
  width: 100%;
  border-left: 50% solid transparent;
}
.col-6.prefix-5 {
  width: 50%;
  width: 91.66666666666667%;
  border-left: 41.66666666666667% solid transparent;
}
.col-6.prefix-4 {
  width: 50%;
  width: 83.33333333333333%;
  border-left: 33.33333333333333% solid transparent;
}
.col-6.prefix-3 {
  width: 50%;
  width: 75%;
  border-left: 25% solid transparent;
}
.col-6.prefix-2 {
  width: 50%;
  width: 66.66666666666666%;
  border-left: 16.666666666666664% solid transparent;
}
.col-6.prefix-1 {
  width: 50%;
  width: 58.33333333333333%;
  border-left: 8.333333333333332% solid transparent;
}
.col-6.suffix-6 {
  width: 50%;
  width: 100%;
  border-right: 50% solid transparent;
}
.col-6.suffix-5 {
  width: 50%;
  width: 91.66666666666667%;
  border-right: 41.66666666666667% solid transparent;
}
.col-6.suffix-4 {
  width: 50%;
  width: 83.33333333333333%;
  border-right: 33.33333333333333% solid transparent;
}
.col-6.suffix-3 {
  width: 50%;
  width: 75%;
  border-right: 25% solid transparent;
}
.col-6.suffix-2 {
  width: 50%;
  width: 66.66666666666666%;
  border-right: 16.666666666666664% solid transparent;
}
.col-6.suffix-1 {
  width: 50%;
  width: 58.33333333333333%;
  border-right: 8.333333333333332% solid transparent;
}
.push-6 {
  position: left;
  left: 50%;
}
.pull-6 {
  position: relative;
  right: 50%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-5.prefix-7 {
  width: 41.66666666666667%;
  width: 100%;
  border-left: 58.333333333333336% solid transparent;
}
.col-5.prefix-6 {
  width: 41.66666666666667%;
  width: 91.66666666666667%;
  border-left: 50% solid transparent;
}
.col-5.prefix-5 {
  width: 41.66666666666667%;
  width: 83.33333333333334%;
  border-left: 41.66666666666667% solid transparent;
}
.col-5.prefix-4 {
  width: 41.66666666666667%;
  width: 75%;
  border-left: 33.33333333333333% solid transparent;
}
.col-5.prefix-3 {
  width: 41.66666666666667%;
  width: 66.66666666666667%;
  border-left: 25% solid transparent;
}
.col-5.prefix-2 {
  width: 41.66666666666667%;
  width: 58.333333333333336%;
  border-left: 16.666666666666664% solid transparent;
}
.col-5.prefix-1 {
  width: 41.66666666666667%;
  width: 50%;
  border-left: 8.333333333333332% solid transparent;
}
.col-5.suffix-7 {
  width: 41.66666666666667%;
  width: 100%;
  border-right: 58.333333333333336% solid transparent;
}
.col-5.suffix-6 {
  width: 41.66666666666667%;
  width: 91.66666666666667%;
  border-right: 50% solid transparent;
}
.col-5.suffix-5 {
  width: 41.66666666666667%;
  width: 83.33333333333334%;
  border-right: 41.66666666666667% solid transparent;
}
.col-5.suffix-4 {
  width: 41.66666666666667%;
  width: 75%;
  border-right: 33.33333333333333% solid transparent;
}
.col-5.suffix-3 {
  width: 41.66666666666667%;
  width: 66.66666666666667%;
  border-right: 25% solid transparent;
}
.col-5.suffix-2 {
  width: 41.66666666666667%;
  width: 58.333333333333336%;
  border-right: 16.666666666666664% solid transparent;
}
.col-5.suffix-1 {
  width: 41.66666666666667%;
  width: 50%;
  border-right: 8.333333333333332% solid transparent;
}
.push-5 {
  position: left;
  left: 41.66666666666667%;
}
.pull-5 {
  position: relative;
  right: 41.66666666666667%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-4.prefix-8 {
  width: 33.33333333333333%;
  width: 99.99999999999999%;
  border-left: 66.66666666666666% solid transparent;
}
.col-4.prefix-7 {
  width: 33.33333333333333%;
  width: 91.66666666666666%;
  border-left: 58.333333333333336% solid transparent;
}
.col-4.prefix-6 {
  width: 33.33333333333333%;
  width: 83.33333333333333%;
  border-left: 50% solid transparent;
}
.col-4.prefix-5 {
  width: 33.33333333333333%;
  width: 75%;
  border-left: 41.66666666666667% solid transparent;
}
.col-4.prefix-4 {
  width: 33.33333333333333%;
  width: 66.66666666666666%;
  border-left: 33.33333333333333% solid transparent;
}
.col-4.prefix-3 {
  width: 33.33333333333333%;
  width: 58.33333333333333%;
  border-left: 25% solid transparent;
}
.col-4.prefix-2 {
  width: 33.33333333333333%;
  width: 49.99999999999999%;
  border-left: 16.666666666666664% solid transparent;
}
.col-4.prefix-1 {
  width: 33.33333333333333%;
  width: 41.66666666666666%;
  border-left: 8.333333333333332% solid transparent;
}
.col-4.suffix-8 {
  width: 33.33333333333333%;
  width: 99.99999999999999%;
  border-right: 66.66666666666666% solid transparent;
}
.col-4.suffix-7 {
  width: 33.33333333333333%;
  width: 91.66666666666666%;
  border-right: 58.333333333333336% solid transparent;
}
.col-4.suffix-6 {
  width: 33.33333333333333%;
  width: 83.33333333333333%;
  border-right: 50% solid transparent;
}
.col-4.suffix-5 {
  width: 33.33333333333333%;
  width: 75%;
  border-right: 41.66666666666667% solid transparent;
}
.col-4.suffix-4 {
  width: 33.33333333333333%;
  width: 66.66666666666666%;
  border-right: 33.33333333333333% solid transparent;
}
.col-4.suffix-3 {
  width: 33.33333333333333%;
  width: 58.33333333333333%;
  border-right: 25% solid transparent;
}
.col-4.suffix-2 {
  width: 33.33333333333333%;
  width: 49.99999999999999%;
  border-right: 16.666666666666664% solid transparent;
}
.col-4.suffix-1 {
  width: 33.33333333333333%;
  width: 41.66666666666666%;
  border-right: 8.333333333333332% solid transparent;
}
.push-4 {
  position: left;
  left: 33.33333333333333%;
}
.pull-4 {
  position: relative;
  right: 33.33333333333333%;
}
.col-3 {
  width: 25%;
}
.col-3.prefix-9 {
  width: 25%;
  width: 100%;
  border-left: 75% solid transparent;
}
.col-3.prefix-8 {
  width: 25%;
  width: 91.66666666666666%;
  border-left: 66.66666666666666% solid transparent;
}
.col-3.prefix-7 {
  width: 25%;
  width: 83.33333333333334%;
  border-left: 58.333333333333336% solid transparent;
}
.col-3.prefix-6 {
  width: 25%;
  width: 75%;
  border-left: 50% solid transparent;
}
.col-3.prefix-5 {
  width: 25%;
  width: 66.66666666666667%;
  border-left: 41.66666666666667% solid transparent;
}
.col-3.prefix-4 {
  width: 25%;
  width: 58.33333333333333%;
  border-left: 33.33333333333333% solid transparent;
}
.col-3.prefix-3 {
  width: 25%;
  width: 50%;
  border-left: 25% solid transparent;
}
.col-3.prefix-2 {
  width: 25%;
  width: 41.666666666666664%;
  border-left: 16.666666666666664% solid transparent;
}
.col-3.prefix-1 {
  width: 25%;
  width: 33.33333333333333%;
  border-left: 8.333333333333332% solid transparent;
}
.col-3.suffix-9 {
  width: 25%;
  width: 100%;
  border-right: 75% solid transparent;
}
.col-3.suffix-8 {
  width: 25%;
  width: 91.66666666666666%;
  border-right: 66.66666666666666% solid transparent;
}
.col-3.suffix-7 {
  width: 25%;
  width: 83.33333333333334%;
  border-right: 58.333333333333336% solid transparent;
}
.col-3.suffix-6 {
  width: 25%;
  width: 75%;
  border-right: 50% solid transparent;
}
.col-3.suffix-5 {
  width: 25%;
  width: 66.66666666666667%;
  border-right: 41.66666666666667% solid transparent;
}
.col-3.suffix-4 {
  width: 25%;
  width: 58.33333333333333%;
  border-right: 33.33333333333333% solid transparent;
}
.col-3.suffix-3 {
  width: 25%;
  width: 50%;
  border-right: 25% solid transparent;
}
.col-3.suffix-2 {
  width: 25%;
  width: 41.666666666666664%;
  border-right: 16.666666666666664% solid transparent;
}
.col-3.suffix-1 {
  width: 25%;
  width: 33.33333333333333%;
  border-right: 8.333333333333332% solid transparent;
}
.push-3 {
  position: left;
  left: 25%;
}
.pull-3 {
  position: relative;
  right: 25%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-2.prefix-10 {
  width: 16.666666666666664%;
  width: 100%;
  border-left: 83.33333333333334% solid transparent;
}
.col-2.prefix-9 {
  width: 16.666666666666664%;
  width: 91.66666666666666%;
  border-left: 75% solid transparent;
}
.col-2.prefix-8 {
  width: 16.666666666666664%;
  width: 83.33333333333331%;
  border-left: 66.66666666666666% solid transparent;
}
.col-2.prefix-7 {
  width: 16.666666666666664%;
  width: 75%;
  border-left: 58.333333333333336% solid transparent;
}
.col-2.prefix-6 {
  width: 16.666666666666664%;
  width: 66.66666666666666%;
  border-left: 50% solid transparent;
}
.col-2.prefix-5 {
  width: 16.666666666666664%;
  width: 58.333333333333336%;
  border-left: 41.66666666666667% solid transparent;
}
.col-2.prefix-4 {
  width: 16.666666666666664%;
  width: 49.99999999999999%;
  border-left: 33.33333333333333% solid transparent;
}
.col-2.prefix-3 {
  width: 16.666666666666664%;
  width: 41.666666666666664%;
  border-left: 25% solid transparent;
}
.col-2.prefix-2 {
  width: 16.666666666666664%;
  width: 33.33333333333333%;
  border-left: 16.666666666666664% solid transparent;
}
.col-2.prefix-1 {
  width: 16.666666666666664%;
  width: 24.999999999999996%;
  border-left: 8.333333333333332% solid transparent;
}
.col-2.suffix-10 {
  width: 16.666666666666664%;
  width: 100%;
  border-right: 83.33333333333334% solid transparent;
}
.col-2.suffix-9 {
  width: 16.666666666666664%;
  width: 91.66666666666666%;
  border-right: 75% solid transparent;
}
.col-2.suffix-8 {
  width: 16.666666666666664%;
  width: 83.33333333333331%;
  border-right: 66.66666666666666% solid transparent;
}
.col-2.suffix-7 {
  width: 16.666666666666664%;
  width: 75%;
  border-right: 58.333333333333336% solid transparent;
}
.col-2.suffix-6 {
  width: 16.666666666666664%;
  width: 66.66666666666666%;
  border-right: 50% solid transparent;
}
.col-2.suffix-5 {
  width: 16.666666666666664%;
  width: 58.333333333333336%;
  border-right: 41.66666666666667% solid transparent;
}
.col-2.suffix-4 {
  width: 16.666666666666664%;
  width: 49.99999999999999%;
  border-right: 33.33333333333333% solid transparent;
}
.col-2.suffix-3 {
  width: 16.666666666666664%;
  width: 41.666666666666664%;
  border-right: 25% solid transparent;
}
.col-2.suffix-2 {
  width: 16.666666666666664%;
  width: 33.33333333333333%;
  border-right: 16.666666666666664% solid transparent;
}
.col-2.suffix-1 {
  width: 16.666666666666664%;
  width: 24.999999999999996%;
  border-right: 8.333333333333332% solid transparent;
}
.push-2 {
  position: left;
  left: 16.666666666666664%;
}
.pull-2 {
  position: relative;
  right: 16.666666666666664%;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-1.prefix-11 {
  width: 8.333333333333332%;
  width: 99.99999999999999%;
  border-left: 91.66666666666666% solid transparent;
}
.col-1.prefix-10 {
  width: 8.333333333333332%;
  width: 91.66666666666667%;
  border-left: 83.33333333333334% solid transparent;
}
.col-1.prefix-9 {
  width: 8.333333333333332%;
  width: 83.33333333333333%;
  border-left: 75% solid transparent;
}
.col-1.prefix-8 {
  width: 8.333333333333332%;
  width: 74.99999999999999%;
  border-left: 66.66666666666666% solid transparent;
}
.col-1.prefix-7 {
  width: 8.333333333333332%;
  width: 66.66666666666667%;
  border-left: 58.333333333333336% solid transparent;
}
.col-1.prefix-6 {
  width: 8.333333333333332%;
  width: 58.33333333333333%;
  border-left: 50% solid transparent;
}
.col-1.prefix-5 {
  width: 8.333333333333332%;
  width: 50%;
  border-left: 41.66666666666667% solid transparent;
}
.col-1.prefix-4 {
  width: 8.333333333333332%;
  width: 41.66666666666666%;
  border-left: 33.33333333333333% solid transparent;
}
.col-1.prefix-3 {
  width: 8.333333333333332%;
  width: 33.33333333333333%;
  border-left: 25% solid transparent;
}
.col-1.prefix-2 {
  width: 8.333333333333332%;
  width: 24.999999999999996%;
  border-left: 16.666666666666664% solid transparent;
}
.col-1.prefix-1 {
  width: 8.333333333333332%;
  width: 16.666666666666664%;
  border-left: 8.333333333333332% solid transparent;
}
.col-1.suffix-11 {
  width: 8.333333333333332%;
  width: 99.99999999999999%;
  border-right: 91.66666666666666% solid transparent;
}
.col-1.suffix-10 {
  width: 8.333333333333332%;
  width: 91.66666666666667%;
  border-right: 83.33333333333334% solid transparent;
}
.col-1.suffix-9 {
  width: 8.333333333333332%;
  width: 83.33333333333333%;
  border-right: 75% solid transparent;
}
.col-1.suffix-8 {
  width: 8.333333333333332%;
  width: 74.99999999999999%;
  border-right: 66.66666666666666% solid transparent;
}
.col-1.suffix-7 {
  width: 8.333333333333332%;
  width: 66.66666666666667%;
  border-right: 58.333333333333336% solid transparent;
}
.col-1.suffix-6 {
  width: 8.333333333333332%;
  width: 58.33333333333333%;
  border-right: 50% solid transparent;
}
.col-1.suffix-5 {
  width: 8.333333333333332%;
  width: 50%;
  border-right: 41.66666666666667% solid transparent;
}
.col-1.suffix-4 {
  width: 8.333333333333332%;
  width: 41.66666666666666%;
  border-right: 33.33333333333333% solid transparent;
}
.col-1.suffix-3 {
  width: 8.333333333333332%;
  width: 33.33333333333333%;
  border-right: 25% solid transparent;
}
.col-1.suffix-2 {
  width: 8.333333333333332%;
  width: 24.999999999999996%;
  border-right: 16.666666666666664% solid transparent;
}
.col-1.suffix-1 {
  width: 8.333333333333332%;
  width: 16.666666666666664%;
  border-right: 8.333333333333332% solid transparent;
}
.push-1 {
  position: left;
  left: 8.333333333333332%;
}
.pull-1 {
  position: relative;
  right: 8.333333333333332%;
}
